start of all python file 
chapter 1 fundametals

arithmetic operations
addition
subtraction
multiplication
division
floor division
exponent
modulus

In [18]:
print(5+3)
print(5-3)
print(5*2)
print(5/4)
print(5//4)
print(5**4)
print(25%5)

8
2
10
1.25
1
625
0

checking type of data

In [29]:
print(type(3))
print(type(5.33))
print(type("hello wolrd"))
print(type(True))
print(type(0))
print(type([]))
print(type(()))
print(type({}))
print(type(""))
print(type("a"))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'str'>
<class 'str'>

Math functions

In [68]:
print(abs(-0.554545))
print(round(5/2))
'''these are not inbuilt'''
import math
print(math.floor(5/2))
print(math.ceil(5/2))

0.554545
2
2
3

operator precedence is:
order in which the operations happen when a whole expression is given
(),
**,
*,/
+,-

In [39]:
print((5+6)* 5**3)
print(((5+6)* 5)**3)
print(5+6* 5**3)

1375
166375
755

converting to hexadecimal,octal,binar,decimal
e.g
1) converting to binary and back to decimal
converting to binary is simple with bin() fucntion
converting back from binary to decimal needs us to specify the binary value and the base of the input 2 in case of binary ("('0b101',2)")

In [58]:
print(bin(55))
print(type(bin(55)))
print(int('0b110111',2))
print(int('0b101',2))
print(oct(8))
print(int('0o10',8))
print(hex(12))
print(int('0xc',16))

0b110111
<class 'str'>
55
5
0o10
8
0xc
12

naming conventions for variable
always use snake_case (e.g variable_name,user_id,birth_date)
multiple variables can be assigned in a single line

In [60]:
user_id = 12345
print(user_id)

a,b,c =1,2,3
print(a,b,c)

12345
1 2 3

private variables ('_')

In [66]:
def myFunc():
    _fav_food="pizza"
    print(_fav_food)

myFunc()
'''
#this will not print it because error is related top variable declaeed as private using a '_' before it
#print(_fav_food)
'''

pizza

"\n#this will not print it because error is related top variable declaeed as private using a '_' before it\n#print(_fav_food)\n"

capital conventions:
these are not recommended but it is legal and considered bad practice, start with lower case letters follow snake_case practice
dunder:
double underscore(dunder) are used for special purpose like __init__,__repr__

In [69]:
__PI = 3.14
print("\n'__variable is known as a dundar in python",__PI)

'__variable is known as a dundar in python 3.14

assignment and expression difference
assigning is giving value to variable
expression is using variable and performing something on it like below example

In [70]:
iq= 151
avg_iq = iq/5
print(iq, avg_iq)

151 30.2

augmented operators: 
performing something on existing variable in single line like  +,-,*,/

In [71]:
some_var = 5
some_var += 2
print(some_var)

7

Long string: is or multiple line string as one value to a variable

In [72]:
long_str = ''' I'm Nevil,
Hello, this is long string,
this is end of it
'''

print(long_str)

 I'm Nevil,
Hello, this is long string,
this is end of it

escape characters : used to add punctuation marks or signs in between the print statement

In [78]:
print('it\'s a "bright" monday today, isn\'t it?')
print('it\'s a  ''bright'' monday ')
print('\t hello')

it's a "bright" monday today, isn't it?
it's a  bright monday
	 hello

formatted strings : printing string by using user input or variables in print statement

In [102]:
name = 'nevil'
work_on = 'python'
print("----------------------")
print('1st method using simple and normal method, if you want to add spaces before and after your value you need to actually add it in your prinitng statement ')
print("hello, im "+name+" im working on"+work_on)
print("----------------------")
print("2nd method for this is by using ',' you do not need to add space in previous string like 1st method ',' adds space by itself ")
print("hello, im",name,"im working on",work_on)
print("----------------------")
print("3rd method using f string")
print(f"hello, im {name} im working on {work_on}")
print("----------------------")
print("4th method using format() method")
print("hello, im {} im working on {}".format(name,work_on))
print("----------------------")
print('5th  method using format() method and using value 0 and 1')
print("hello, im {1} im working on {0}".format(work_on,name))
print("----------------------")
print("6th method, using new values to  overwrite default given value and by using private variable method")
print("hello, im {_name} im working on {_work_on}".format(_work_on="java",_name="bob"))

----------------------
1st method using simple and normal method, if you want to add spaces before and after your value you need to actually add it in your prinitng statement
hello, im nevil im working onpython
----------------------
2nd method for this is by using ',' you do not need to add space in previous string like 1st method ',' adds space by itself
hello, im nevil im working on python
----------------------
3rd method using f string
hello, im nevil im working on python
----------------------
4th method using format() method
hello, im nevil im working on python
----------------------
5th  method using format() method and using value 0 and 1
hello, im nevil im working on python
----------------------
6th method, using new values to  overwrite default given value and by using private variable method
hello, im bob im working on java

string manipulation
string characters can be accessed using [] and index numbers
you can also use it to get multiple characters using indexes from where to start and stop isn [] e.g [start:stop] like [1:7]
for the requirements to skip some inbetween characters use stepover in [] e,g [start:stop:stepover] like [1:7:2]
this will get characters from 1 to 7 by skipping 2 values that comes in between
you can -1 to start getting elemmenrts from back of string like e.g [-1:-4:-1]

In [127]:
my_string = '01234567'
print(my_string[0])
print(my_string[0:])
print(my_string[0:3])
print(my_string[0:6:2])
print(my_string[0:5:3])
print(my_string[-1])
print(my_string[-1::-1])
print(my_string[-1:-6:-2])

0
01234567
012
024
03
7
76543210
753

checking if string is mutable

In [133]:
my_string = '01234567'
my_string+='89'
print(my_string)
print(bool(my_string))

0123456789
True

boolean values

In [143]:
print(bool(0))
print(bool('0'))
print(bool(True) and bool('False'))

False
True
True

type casting or type conversion
input receives data in terms of string which cannot be manipulated, so it should be converted into appropriate format in this case :- integer

In [ ]:
birth_year = input("enter your birth year")
age_value = 2022 - int(birth_year)
print(age_value)

chapter 2 Lists
list can be sliced, manipulated 
copied and assigned to a new list

In [25]:
first_data = [1,2,3,4]
second_data  = ['a','b','c']
third_data = [1,2.3,'c',False]
print(first_data)
first_data[1]=55
print(first_data)

copied_data = first_data[0:2]
print(copied_data)
first_data.append(5)
copy_data = first_data
print(first_data)
first_data.pop()
print(copy_data)

new_data = second_data.copy()
print(new_data)

[1, 2, 3, 4]
[1, 55, 3, 4]
[1, 55]
[1, 55, 3, 4, 5]
[1, 55, 3, 4]
['a', 'b', 'c']

adding elements to a list and useful methods for it
appending a exisitng list and simultaneuously assigning it to a new list does not return anything (prints None if that method is used here)

In [157]:
first_info = [1,2,3,4]
second_info  = ['a','b','c']
third_info = [1,2.3,'c',False]
#new_lits1 = first_info.append(10) this method will not work
first_info.append(10)
new_lits1 = first_info
print(new_lits1)

[1, 2, 3, 4, 10]

inserting elements and extending methods in list

In [34]:
first_info = [1,2,3,4]
first_info.insert(0,11)
print(first_info)
second_info  = ['a','b','c']
first_info.extend(second_info)

print(first_info)

[11, 1, 2, 3, 4]
[11, 1, 2, 3, 4, 'a', 'b', 'c']

removing popping and deleting elements

In [42]:
first_info = [1,2,3,4]
second_info  = ['a','b','c']
print(first_info.pop(1))
print(second_info.remove('a'))
print(second_info.clear())
print(second_info)
del first_info[1]
print(first_info)

2
None
None
[]
[1, 4]

indexing and accessing

In [48]:
example = ['a','z','f','b','c','d','e','d']
print(example.count('d'))
print(example.index('d'))
print('d' in example)
print('ad' in example)

2
3
True
False

sorting the list
you cannot sort prinnt the list directly like example.sort(), you need to actually run the command and the try to print

In [55]:
example = ['a','z','f','b','c','d','e','d']
print(example.sort())
example.sort(reverse=True)
print(example)
print(sorted(example))

None
['z', 'f', 'e', 'd', 'd', 'c', 'b', 'a']
['a', 'b', 'c', 'd', 'd', 'e', 'f', 'z']

merge function in python

In [59]:
from heapq import merge
starting = [1,29,34]
middle = [4,6,99]
final_product = merge(starting,middle)
print(list(final_product))

[1, 4, 6, 29, 34, 99]

slicing using inbuilt function

In [62]:
from itertools import islice
print(list(islice('abcdef',4)))

['a', 'b', 'c', 'd']

string interning

In [66]:
u = 'hel'
v= 'lo'
w = u+v
x= 'hello'
z='hello'
print(w,x)
print(z is x)

hello hello
True